<div class="ng-wig">
  <ul class="nw-toolbar">
    <li class="nw-toolbar__item" ng-repeat="button in toolbarButtons" >
        <div ng-if="!button.isComplex">
          <button type="button" class="nw-button" title="{{button.title}}" ng-click="execCommand(button.command)" ng-class="{ 'nw-button--active': isEditorActive() && button.isActive() }" ng-disabled="editMode">
            <i class="fa {{button.styleClass}}"></i>
          </button>
        </div>
        <div ng-if="button.isComplex">
          <ng-wig-plugin plugin="{{button}}"></ng-wig-plugin>
        </div>
    </li><!--
    --><li class="nw-toolbar__item">
      <button type="button" class="nw-button nw-button--source" ng-class="{ 'nw-button--active': editMode }" ng-click="toggleEditMode()"><i class="fa fa-pencil"></i></button>
    </li>
  </ul>

  <div class="nw-editor-container">
    <div class="nw-editor">
      <textarea  class="nw-editor__src" ng-show="editMode" ng-model="content"></textarea>
      <div tabindex="-1" ng-class="{'nw-invisible': editMode, 'nw-autoexpand': autoexpand}" class="nw-editor__res" ng-model="content" ng-wig-editable on-paste="onPaste"></div>
    </div>
  </div>
</div>
