/**
 *  RESETS
 */
/**
 *  Box model
 */
/* line 8, ../scss/_resets.scss */
* {
  margin: 0;
  padding: 0;
}
/* line 12, ../scss/_resets.scss */
*:active {
  outline: none;
}

/* line 17, ../scss/_resets.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Default styling removal
 */
/* line 30, ../scss/_resets.scss */
button {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  text-align: inherit;
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

/* line 46, ../scss/_resets.scss */
textarea {
  resize: vertical;
  vertical-align: top;
}

/* line 51, ../scss/_resets.scss */
input, textarea {
  font: inherit;
  line-height: inherit;
  color: inherit;
}
/* line 56, ../scss/_resets.scss */
input:focus, textarea:focus {
  outline: none;
}

/**
 *  LIST LAYOUT
 *
 *  layout for unstyled block list or inline list
 *
 *  .l-list
 *    &__item
 *    &--collapsed
 *    &--inline
 *    &--multiline
 *
 */
/* line 13, ../scss/_list.scss */
.l-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 18, ../scss/_list.scss */
.l-list__item {
  display: block;
}

/* line 22, ../scss/_list.scss */
.l-list--inline {
  margin-left: -12px;
}
/* line 25, ../scss/_list.scss */
.l-list--inline > .l-list__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
}

/* line 31, ../scss/_list.scss */
.l-list--multiline {
  margin-bottom: -12px;
}
/* line 34, ../scss/_list.scss */
.l-list--multiline > .l-list__item {
  margin-bottom: 12px;
}

/* line 38, ../scss/_list.scss */
.l-list--collapsed {
  margin: 0;
}
/* line 41, ../scss/_list.scss */
.l-list--collapsed > .l-list__item {
  margin: 0.1px;
}

/**
 *  BLOCK LAYOUT
 *
 *  maintains vertical spacing between different modules
 *
 *  .l-block
 *  .l-block-small
 *  .l-block-large
 *  .l-block-x-large
 *
 */
/* line 12, ../scss/_block.scss */
.l-block-small {
  display: block;
  margin-bottom: 6px;
}

/* line 16, ../scss/_block.scss */
.l-block {
  display: block;
  margin-bottom: 12px;
}

/* line 20, ../scss/_block.scss */
.l-block-large {
  display: block;
  margin-bottom: 24px;
}

/* line 24, ../scss/_block.scss */
.l-block-x-large {
  display: block;
  margin-bottom: 36px;
}

/**
 *  EDITOR ICONS MODULE
 *
 *  classed to display svg icons for the ngwig
 *
 *  .editor-icon
 *
 */
/* line 9, ../scss/_editor-icons.scss */
.editor-icon, .editor-icon-bold, .editor-icon-italic, .editor-icon-ul, .editor-icon-ol, .editor-icon-paragraph, .editor-icon-header, .editor-icon-link, .editor-icon-unlink {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 18, ../scss/_editor-icons.scss */
.editor-icon-bold {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2219%22%20height%3D%2224%22%20viewBox%3D%220%200%2019%2024%22%3E%3Cg%3E%20%3Cline%20stroke-width%3D%221%22%20x1%3D%22%22%20y1%3D%22%22%20x2%3D%22%22%20y2%3D%22%22%20stroke%3D%22%23449FDB%22%20opacity%3D%22%22%3E%3C%2Fline%3E%3C%2Fg%3E%20%3Cpath%20d%3D%22M0%2022.286l0.027-1.259q0.201-0.054%201.138-0.214t1.42-0.362q0.094-0.161%200.167-0.362t0.114-0.449%200.074-0.435%200.040-0.502%200.007-0.455v-0.877q0-13.152-0.295-13.728-0.054-0.107-0.295-0.194t-0.596-0.147-0.663-0.094-0.65-0.060-0.408-0.040l-0.054-1.112q1.313-0.027%204.554-0.154t4.996-0.127q0.308%200%200.917%200.007t0.904%200.007q0.938%200%201.828%200.174t1.721%200.562%201.446%200.951%200.991%201.4%200.375%201.842q0%200.696-0.221%201.279t-0.522%200.964-0.864%200.77-0.978%200.603-1.125%200.536q2.063%200.469%203.435%201.795t1.373%203.321q0%201.339-0.469%202.404t-1.252%201.748-1.848%201.145-2.19%200.65-2.357%200.188q-0.589%200-1.768-0.040t-1.768-0.040q-1.42%200-4.112%200.147t-3.094%200.161zM7.138%203.268q0%200.67%200.054%202.022t0.054%202.036q0%200.362-0.007%201.071t-0.007%201.058q0%200.616%200.013%200.924%200.563%200.094%201.46%200.094%201.098%200%201.915-0.174t1.473-0.596%200.998-1.199%200.342-1.902q0-0.938-0.388-1.641t-1.058-1.098-1.446-0.583-1.661-0.188q-0.67%200-1.741%200.174zM7.212%2018.362q0.007%200.496%200.060%201.118t0.161%200.891q0.991%200.429%201.875%200.429%205.036%200%205.036-4.487%200-1.527-0.549-2.411-0.362-0.589-0.824-0.991t-0.904-0.623-1.078-0.335-1.125-0.141-1.266-0.027q-0.978%200-1.353%200.134%200%200.71-0.007%202.129t-0.007%202.116q0%200.107-0.013%200.904t-0.007%201.292z%22%20fill%3D%22%23404040%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

/* line 24, ../scss/_editor-icons.scss */
.editor-icon-italic {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2214%22%20height%3D%2224%22%20viewBox%3D%220%200%2014%2024%22%3E%3Cg%3E%20%3Cline%20stroke-width%3D%221%22%20x1%3D%22%22%20y1%3D%22%22%20x2%3D%22%22%20y2%3D%22%22%20stroke%3D%22%23449FDB%22%20opacity%3D%22%22%3E%3C%2Fline%3E%3C%2Fg%3E%20%3Cpath%20d%3D%22M0%2022.259l0.228-1.138q0.080-0.027%201.092-0.288t1.493-0.502q0.375-0.469%200.549-1.353%200.013-0.094%200.83-3.871t1.527-7.279%200.696-3.971v-0.335q-0.321-0.174-0.73-0.248t-0.931-0.107-0.777-0.074l0.254-1.379q0.442%200.027%201.607%200.087t2.002%200.094%201.614%200.033q0.643%200%201.319-0.033t1.621-0.094%201.319-0.087q-0.067%200.522-0.254%201.192-0.402%200.134-1.359%200.382t-1.453%200.449q-0.107%200.254-0.188%200.569t-0.121%200.536-0.1%200.609-0.087%200.563q-0.362%201.982-1.172%205.618t-1.038%204.761q-0.027%200.121-0.174%200.777t-0.268%201.205-0.214%201.118-0.080%200.77l0.013%200.241q0.228%200.054%202.478%200.415-0.040%200.589-0.214%201.326-0.147%200-0.435%200.020t-0.435%200.020q-0.388%200-1.165-0.134t-1.152-0.134q-1.848-0.027-2.759-0.027-0.683%200-1.915%200.121t-1.621%200.147z%22%20fill%3D%22%23404040%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

/* line 30, ../scss/_editor-icons.scss */
.editor-icon-ul {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%3E%20%3Cline%20stroke-width%3D%221%22%20x1%3D%22%22%20y1%3D%22%22%20x2%3D%22%22%20y2%3D%22%22%20stroke%3D%22%23449FDB%22%20opacity%3D%22%22%3E%3C%2Fline%3E%3C%2Fg%3E%20%3Cpath%20d%3D%22M0%2018.857q0-1.071%200.75-1.821t1.821-0.75%201.821%200.75%200.75%201.821-0.75%201.821-1.821%200.75-1.821-0.75-0.75-1.821zM0%2012q0-1.071%200.75-1.821t1.821-0.75%201.821%200.75%200.75%201.821-0.75%201.821-1.821%200.75-1.821-0.75-0.75-1.821zM0%205.143q0-1.071%200.75-1.821t1.821-0.75%201.821%200.75%200.75%201.821-0.75%201.821-1.821%200.75-1.821-0.75-0.75-1.821zM6.857%2020.143v-2.571q0-0.174%200.127-0.301t0.301-0.127h16.286q0.174%200%200.301%200.127t0.127%200.301v2.571q0%200.174-0.127%200.301t-0.301%200.127h-16.286q-0.174%200-0.301-0.127t-0.127-0.301zM6.857%2013.286v-2.571q0-0.174%200.127-0.301t0.301-0.127h16.286q0.174%200%200.301%200.127t0.127%200.301v2.571q0%200.174-0.127%200.301t-0.301%200.127h-16.286q-0.174%200-0.301-0.127t-0.127-0.301zM6.857%206.429v-2.571q0-0.174%200.127-0.301t0.301-0.127h16.286q0.174%200%200.301%200.127t0.127%200.301v2.571q0%200.174-0.127%200.301t-0.301%200.127h-16.286q-0.174%200-0.301-0.127t-0.127-0.301z%22%20fill%3D%22%23404040%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

/* line 36, ../scss/_editor-icons.scss */
.editor-icon-ol {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%3E%20%3Cline%20stroke-width%3D%221%22%20x1%3D%22%22%20y1%3D%22%22%20x2%3D%22%22%20y2%3D%22%22%20stroke%3D%22%23449FDB%22%20opacity%3D%22%22%3E%3C%2Fline%3E%3C%2Fg%3E%20%3Cpath%20d%3D%22M0.201%2014.705q0-0.683%200.315-1.246t0.757-0.911%200.884-0.636%200.757-0.583%200.315-0.603q0-0.335-0.194-0.516t-0.529-0.181q-0.616%200-1.085%200.777l-1.138-0.79q0.321-0.683%200.958-1.065t1.413-0.382q0.978%200%201.647%200.556t0.67%201.507q0%200.67-0.455%201.225t-1.004%200.864-1.011%200.676-0.475%200.703h1.701v-0.804h1.406v2.129h-4.848q-0.080-0.482-0.080-0.723zM0.254%2023.116l0.763-1.179q0.656%200.603%201.42%200.603%200.388%200%200.676-0.194t0.288-0.569q0-0.857-1.406-0.75l-0.348-0.75q0.107-0.134%200.435-0.583t0.569-0.723%200.496-0.516v-0.013q-0.214%200-0.65%200.013t-0.65%200.013v0.71h-1.42v-2.036h4.46v1.179l-1.272%201.54q0.683%200.161%201.085%200.656t0.402%201.179q0%201.071-0.73%201.688t-1.815%200.616q-1.42%200-2.304-0.884zM0.455%201.821l1.821-1.701h1.42v5.411h1.446v1.326h-4.487v-1.326h1.433q0-0.549%200.007-1.634t0.007-1.621v-0.161h-0.027q-0.107%200.228-0.67%200.723zM6.857%2020.143v-2.571q0-0.188%200.121-0.308t0.308-0.121h16.286q0.174%200%200.301%200.127t0.127%200.301v2.571q0%200.174-0.127%200.301t-0.301%200.127h-16.286q-0.174%200-0.301-0.127t-0.127-0.301zM6.857%2013.286v-2.571q0-0.188%200.121-0.308t0.308-0.121h16.286q0.174%200%200.301%200.127t0.127%200.301v2.571q0%200.174-0.127%200.301t-0.301%200.127h-16.286q-0.174%200-0.301-0.127t-0.127-0.301zM6.857%206.429v-2.571q0-0.174%200.127-0.301t0.301-0.127h16.286q0.174%200%200.301%200.127t0.127%200.301v2.571q0%200.174-0.127%200.301t-0.301%200.127h-16.286q-0.174%200-0.301-0.127t-0.127-0.301z%22%20fill%3D%22%23404040%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

/* line 42, ../scss/_editor-icons.scss */
.editor-icon-paragraph {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2224%22%20viewBox%3D%220%200%2017%2024%22%3E%3Cg%3E%20%3Cline%20stroke-width%3D%221%22%20x1%3D%22%22%20y1%3D%22%22%20x2%3D%22%22%20y2%3D%22%22%20stroke%3D%22%23449FDB%22%20opacity%3D%22%22%3E%3C%2Fline%3E%3C%2Fg%3E%20%3Cpath%20d%3D%22M0.321%208.17q0-2.223%201.179-3.83%201.179-1.58%202.799-2.129%201.487-0.496%205.585-0.496h6.415q0.335%200%200.576%200.241t0.241%200.576v0.978q0%200.388-0.248%200.817t-0.569%200.429q-0.67%200-0.723%200.013-0.348%200.080-0.429%200.415-0.040%200.147-0.040%200.857v15.429q0%200.335-0.241%200.576t-0.576%200.241h-1.446q-0.335%200-0.576-0.241t-0.241-0.576v-16.313h-1.915v16.313q0%200.335-0.234%200.576t-0.583%200.241h-1.446q-0.348%200-0.583-0.241t-0.234-0.576v-6.643q-1.969-0.161-3.281-0.79-1.688-0.777-2.571-2.397-0.857-1.567-0.857-3.469z%22%20fill%3D%22%23404040%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

/* line 48, ../scss/_editor-icons.scss */
.editor-icon-header {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%3E%20%3Cline%20stroke-width%3D%221%22%20x1%3D%22%22%20y1%3D%22%22%20x2%3D%22%22%20y2%3D%22%22%20stroke%3D%22%23449FDB%22%20opacity%3D%22%22%3E%3C%2Fline%3E%3C%2Fg%3E%20%3Cpath%20d%3D%22M0.83%202.652q0-0.348%200.161-0.643t0.482-0.295q0.616%200%201.855%200.047t1.855%200.047q0.563%200%201.694-0.047t1.694-0.047q0.335%200%200.502%200.295t0.167%200.643q0%200.402-0.228%200.583t-0.516%200.194-0.663%200.054-0.576%200.174q-0.469%200.281-0.469%202.143l0.013%204.286q0%200.281%200.013%200.429%200.174%200.040%200.522%200.040h9.362q0.335%200%200.509-0.040%200.013-0.147%200.013-0.429l0.013-4.286q0-1.862-0.469-2.143-0.241-0.147-0.783-0.167t-0.884-0.174-0.342-0.663q0-0.348%200.167-0.643t0.502-0.295q0.589%200%201.768%200.047t1.768%200.047q0.576%200%201.728-0.047t1.728-0.047q0.335%200%200.502%200.295t0.167%200.643q0%200.402-0.234%200.589t-0.536%200.194-0.69%200.040-0.589%200.167q-0.469%200.308-0.469%202.156l0.013%2012.629q0%201.594%200.455%201.875%200.214%200.134%200.616%200.181t0.717%200.060%200.556%200.208%200.241%200.596q0%200.348-0.161%200.643t-0.482%200.295q-0.589%200-1.775-0.047t-1.788-0.047q-0.589%200-1.768%200.047t-1.768%200.047q-0.321%200-0.496-0.275t-0.174-0.609q0-0.415%200.228-0.616t0.522-0.228%200.683-0.094%200.603-0.201q0.442-0.281%200.442-1.875l-0.013-5.237q0-0.281-0.013-0.415-0.174-0.054-0.67-0.054h-9.040q-0.509%200-0.683%200.054-0.013%200.134-0.013%200.415l-0.013%204.969q0%201.902%200.496%202.196%200.214%200.134%200.643%200.174t0.763%200.047%200.603%200.201%200.268%200.609q0%200.348-0.167%200.643t-0.489%200.295q-0.629%200-1.868-0.047t-1.855-0.047q-0.576%200-1.714%200.047t-1.701%200.047q-0.308%200-0.475-0.281t-0.167-0.603q0-0.402%200.208-0.603t0.482-0.234%200.636-0.1%200.563-0.201q0.442-0.308%200.442-1.915l-0.013-0.763v-10.888q0-0.040%200.007-0.348t0-0.489-0.020-0.516-0.047-0.563-0.087-0.489-0.147-0.422-0.214-0.241q-0.201-0.134-0.603-0.161t-0.71-0.027-0.549-0.188-0.241-0.603z%22%20fill%3D%22%23404040%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

/* line 54, ../scss/_editor-icons.scss */
.editor-icon-link {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2222%22%20height%3D%2224%22%20viewBox%3D%220%200%2022%2024%22%3E%3Cg%3E%20%3Cline%20stroke-width%3D%221%22%20x1%3D%22%22%20y1%3D%22%22%20x2%3D%22%22%20y2%3D%22%22%20stroke%3D%22%23449FDB%22%20opacity%3D%22%22%3E%3C%2Fline%3E%3C%2Fg%3E%20%3Cpath%20d%3D%22M0.214%206q0-1.607%201.138-2.719l1.969-1.955q1.112-1.112%202.719-1.112%201.621%200%202.732%201.138l2.759%202.772q1.112%201.112%201.112%202.719%200%201.647-1.179%202.799l1.179%201.179q1.152-1.179%202.786-1.179%201.607%200%202.732%201.125l2.786%202.786q1.125%201.125%201.125%202.732t-1.138%202.719l-1.969%201.955q-1.112%201.112-2.719%201.112-1.621%200-2.732-1.138l-2.759-2.772q-1.112-1.112-1.112-2.719%200-1.647%201.179-2.799l-1.179-1.179q-1.152%201.179-2.786%201.179-1.607%200-2.732-1.125l-2.786-2.786q-1.125-1.125-1.125-2.732zM2.786%206q0%200.536%200.375%200.911l2.786%202.786q0.362%200.362%200.911%200.362%200.563%200%200.964-0.415-0.040-0.040-0.254-0.248t-0.288-0.288-0.201-0.254-0.174-0.342-0.047-0.368q0-0.536%200.375-0.911t0.911-0.375q0.201%200%200.368%200.047t0.342%200.174%200.254%200.201%200.288%200.288%200.248%200.254q0.442-0.415%200.442-0.978%200-0.536-0.375-0.911l-2.759-2.772q-0.375-0.375-0.911-0.375-0.522%200-0.911%200.362l-1.969%201.955q-0.375%200.375-0.375%200.897zM12.201%2015.442q0%200.536%200.375%200.911l2.759%202.772q0.362%200.362%200.911%200.362%200.536%200%200.911-0.348l1.969-1.955q0.375-0.375%200.375-0.897%200-0.536-0.375-0.911l-2.786-2.786q-0.375-0.375-0.911-0.375-0.563%200-0.964%200.429%200.040%200.040%200.254%200.248t0.288%200.288%200.201%200.254%200.174%200.342%200.047%200.368q0%200.536-0.375%200.911t-0.911%200.375q-0.201%200-0.368-0.047t-0.342-0.174-0.254-0.201-0.288-0.288-0.248-0.254q-0.442%200.415-0.442%200.978z%22%20fill%3D%22%23404040%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

/* line 60, ../scss/_editor-icons.scss */
.editor-icon-unlink {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2222%22%20height%3D%2224%22%20viewBox%3D%220%200%2022%2024%22%3E%3Cg%3E%20%3Cline%20stroke-width%3D%221%22%20x1%3D%22%22%20y1%3D%22%22%20x2%3D%22%22%20y2%3D%22%22%20stroke%3D%22%23449FDB%22%20opacity%3D%22%22%3E%3C%2Fline%3E%3C%2Fg%3E%20%3Cpath%20d%3D%22M0%2014.571q0-0.188%200.121-0.308t0.308-0.121h4.286q0.188%200%200.308%200.121t0.121%200.308-0.121%200.308-0.308%200.121h-4.286q-0.188%200-0.308-0.121t-0.121-0.308zM0.214%206q0-1.607%201.138-2.719l1.969-1.955q1.112-1.112%202.719-1.112%201.621%200%202.732%201.138l4.473%204.487q0.281%200.281%200.563%200.75l-3.201%200.241-3.656-3.67q-0.375-0.375-0.911-0.375-0.522%200-0.911%200.362l-1.969%201.955q-0.375%200.375-0.375%200.897%200%200.536%200.375%200.911l3.67%203.67-0.241%203.214q-0.469-0.281-0.75-0.563l-4.5-4.5q-1.125-1.152-1.125-2.732zM1.714%2020.143q0-0.174%200.121-0.308l3.429-3.429q0.134-0.121%200.308-0.121t0.308%200.121q0.121%200.134%200.121%200.308t-0.121%200.308l-3.429%203.429q-0.134%200.121-0.308%200.121-0.161%200-0.308-0.121-0.121-0.134-0.121-0.308zM7.286%2021.857v-4.286q0-0.188%200.121-0.308t0.308-0.121%200.308%200.121%200.121%200.308v4.286q0%200.188-0.121%200.308t-0.308%200.121-0.308-0.121-0.121-0.308zM8.478%2015.696l3.201-0.241%203.656%203.67q0.362%200.362%200.911%200.368t0.911-0.355l1.969-1.955q0.375-0.375%200.375-0.897%200-0.536-0.375-0.911l-3.67-3.683%200.241-3.201q0.469%200.281%200.75%200.563l4.5%204.5q1.125%201.152%201.125%202.732%200%201.607-1.138%202.719l-1.969%201.955q-1.112%201.112-2.719%201.112-1.621%200-2.732-1.138l-4.473-4.487q-0.281-0.281-0.563-0.75zM14.143%204.714v-4.286q0-0.188%200.121-0.308t0.308-0.121%200.308%200.121%200.121%200.308v4.286q0%200.188-0.121%200.308t-0.308%200.121-0.308-0.121-0.121-0.308zM16.286%205.571q0-0.174%200.121-0.308l3.429-3.429q0.134-0.121%200.308-0.121t0.308%200.121q0.121%200.134%200.121%200.308t-0.121%200.308l-3.429%203.429q-0.147%200.121-0.308%200.121t-0.308-0.121q-0.121-0.134-0.121-0.308zM17.143%207.714q0-0.188%200.121-0.308t0.308-0.121h4.286q0.188%200%200.308%200.121t0.121%200.308-0.121%200.308-0.308%200.121h-4.286q-0.188%200-0.308-0.121t-0.121-0.308z%22%20fill%3D%22%23404040%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

/**
 *  NGWIG MODULE
 * 
 *  styling for ng-wig editor
 * 
 *  .ng-wig
 *    <>--  .nw-toolbar
 *            &__action
 *              &--active
 *              &--last
 *    <>--  .nw-editor
 *            &__src
 *            &__res
 *
 */
/* line 20, ../scss/_ngwig.scss */
.nw-toolbar {
  border: 1px solid #ccc;
  border-radius: 6px;
}
/* line 24, ../scss/_ngwig.scss */
.nw-toolbar__action {
  padding: 0 6px;
  border-right: 1px solid #ccc;
  background-color: #eee;
}
/* line 29, ../scss/_ngwig.scss */
.nw-toolbar__action:hover {
  background-color: #ddd;
}
/* line 33, ../scss/_ngwig.scss */
.nw-toolbar__action--last {
  border-right: none;
}
/* line 37, ../scss/_ngwig.scss */
.nw-toolbar__action--active, .nw-toolbar__action--active:hover {
  background-color: #ccc;
}

/* line 43, ../scss/_ngwig.scss */
.nw-editor {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 47, ../scss/_ngwig.scss */
.nw-editor__src {
  width: 100%;
}
/* line 51, ../scss/_ngwig.scss */
.nw-editor__res {
  width: 100%;
}
